.nav-list {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $white;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__item {
    height: 64px;
    width: auto;
    padding: 0 36px;
    font-size: 16px;
    font-weight: $font-weight--medium;
    text-transform: uppercase;
    letter-spacing: 0.125em;

    &__link {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      text-decoration: none !important;

      &::after {
        bottom: 8px;
        opacity: 0;
        transition: opacity .12s;
      }

      svg {
        margin-right: 16px;
      }
    }

    &__submenu {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      // min-height: 316px;
      width: 100%;
      transform: translateY(100%);
      background-color: rgba(0, 0, 0, .85);
      color: white;
      opacity: 0;
      pointer-events: none;
      transition: opacity .12s;
      z-index: 100;
    }

    &:hover {
      font-weight: $font-weight--bold;
      .nav-list__item__submenu {
        opacity: 1;
        pointer-events: auto;
      }

      a::after {
        opacity: 1;
      }
    }
  }
}

.submenu {
  display: flex;
  padding-top: 40px;
  padding-bottom: 24px;

  &__col {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 48px;

    @include media-breakpoint-up(xl) {
      padding-right: 72px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: $font-weight--bold;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    padding-bottom: 10px;
    // margin-bottom: 12px;
    margin-bottom: 24px;
    border-bottom: 2px solid white;
  }

  &__list {
    &__item {
      padding: 6px 0;
      font-size: 16px;
      font-weight: $font-weight--regular;
      color: $font-color__light--secondary;
      text-transform: none;

      a {
        &::after {
          display: inline-block;
          content: ">";
          margin-left: 4px;
        }
      }
    }
  }
}