.page-header {
  background:
    url("../img/bg.jpg"),
    rgba(0, 0, 0, .3);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-blend-mode: multiply;

  &__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $font-color__light--secondary;

    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: flex-start;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 0;
      padding-bottom: 0;
      height: 270px;
    }

    p {
      max-width: 100%;
      display: none;
      margin-top: 10px;

      @include media-breakpoint-up(md) {
        display: initial;
      }

      @include media-breakpoint-up(lg) {
        max-width: 75%;
      }

      @include media-breakpoint-up(xl) {
        max-width: 50%;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: $font-color__light--primary;
    font-weight: $font-weight--regular;
    letter-spacing: 0.125em;
    font-size: 30px;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 46px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 72px;
    }
  }
}