.product-item {
  position: relative;
  width: auto;
  padding: 48px 17px 24px;

  @include media-breakpoint-up(lg) {
    padding: 60px 24px 34px;

    .e-btn.e-btn--block {
      display: initial;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
  }

  &::before {
    opacity: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &:hover {
    &::before,
    .product-item__actions,
    .e-btn.e-btn--block {
      opacity: 1;
    }
  }

  .e-btn.e-btn--block {
    opacity: 0;
    transition: opacity .21s;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__img-box {
    position: relative;
    text-align: center;

    img {
      width: auto;
      max-width: 90%;
    }
  }

  &__actions {
    position: absolute;
    top: 62px;
    right: 22px;
    display: none;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    transition: opacity .21s;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    li {
      margin-bottom: 12px;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__brand {
    font-size: 13px;
    color: $font-color__dark--ternary;
    font-weight: $font-weight--bold;
    letter-spacing: 0.0625em;
  }

  &__name {
    font-size: 16px;
    color: $font-color__dark--primary;
    font-weight: $font-weight--bold;
    letter-spacing: 0.0625em;
    margin: 0;
  }

  &__price {
    font-size: 14px;
    color: $font-color__dark--primary;
    font-weight: $font-weight--medium;
    letter-spacing: 0.0625em;

    &::after {
      content: "KN";
      display: inline;
      margin-left: 6px;
    }
  }
}

.status {
  position: absolute;
  top: 19px;
  right: 22px;
  display: flex;
  height: 24px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: $font-weight--medium;
  letter-spacing: 0.125em;
  border-width: 2px;
  border-style: solid;

  &--new {
    color: $color--secondary;
    border-color: $color--secondary;
  }

  &--sale {
    color: white;
    background-color: $color--secondary;
    border-color: $color--secondary;
  }

  &--soldout {
    border-color: $color--primary;
  }
}