.nv-spacer--1 {
  margin-bottom: 8px !important;
}

.nv-spacer--2 {
  margin-bottom: 16px !important;
}

.nv-spacer--3 {
  margin-bottom: 32px !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nv-btn {
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .144em;
  font-weight: 500;
  color: #FFF;
  background-color: #f8333f;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  height: 32px;
  border-radius: 2px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.nv-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity .12s;
  transition: opacity .12s;
}

.nv-btn:hover::after {
  opacity: .12;
}

.nv-btn:focus::after {
  opacity: .21;
}

.nv-btn:active::after {
  opacity: .3;
}

.nv-icon-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: transparent;
  padding: 0;
  color: inherit;
  border: 0;
  outline: none;
  cursor: pointer;
}

.nv-icon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity .12s;
  transition: opacity .12s;
}

.nv-icon-btn:hover::after {
  opacity: .12;
}

.nv-icon-btn:focus::after {
  opacity: .21;
}

.nv-icon-btn:active::after {
  opacity: .3;
}

.nv-icon-btn svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.nv-icon {
  font-size: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
  vertical-align: middle;
}

.elevation--z2 {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.elevation--z24 {
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.nv-image {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nv-image--34 {
  padding-top: 133.3333%;
}

.nv-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.siema-pagination {
  text-align: center;
  padding: 8px 0;
}

.siema-bullet {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #BBB;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  outline: none;
}

.siema-bullet + .siema-bullet {
  margin-left: 6px;
}

.siema-bullet.active {
  border-color: #000;
  background-color: #000;
}

.toast-container {
  position: fixed;
  padding: 16px;
  width: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 1000000;
}

.toast {
  -webkit-transition: opacity .24s ease-in;
  transition: opacity .24s ease-in;
  font-weight: 400;
  width: 100%;
  margin-top: 16px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: .9;
}

.toast_content {
  padding: 16px 24px;
  background: whitesmoke;
  border: 1px solid gray;
  color: rgba(0, 0, 0, 0.87);
  display: inline;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.toast--dismissed {
  opacity: 0;
}

.nv-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

@media (min-width: 767px) {
  .nv-container {
    height: auto;
    max-width: 1200px;
    top: 17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 16px;
    border-radius: 2px;
  }
}

.nv-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nv-arrow--left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nv-arrow--right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nv-details {
  padding: 16px;
}

@media (min-width: 767px) {
  .nv-details {
    padding: 0 0 0 32px;
  }
}

.nv-details_related {
  overflow: hidden;
  cursor: default !important;
}

.nv-details_info {
  font-size: 14px;
  line-height: 18px;
  max-height: 72px;
  overflow-y: auto;
}

.nv-details_date {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.nv-details_actions {
  font-size: 12px;
}

.nv-details_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nv-details_share-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px;
}

.nv-details_share-item + .nv-details_share-item {
  margin-left: 8px;
}

.nv-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  .nv-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nv-col {
  width: 100%;
}

@media (min-width: 767px) {
  .nv-col {
    width: 50%;
  }
}

.nv-instashop {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 10001;
}

.nv-instashop.active {
  pointer-events: auto;
  opacity: 1;
}

.nv-image-box {
  position: relative;
}

.nv-item {
  margin-bottom: 8px;
}

.nv-item_details {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.nv-item_name {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.nv-item_name a {
  color: inherit;
  text-decoration: none;
}

.nv-item_name a:hover {
  color: rgba(0, 0, 0, 0.54);
}

.nv-item_price {
  font-size: 14px;
}

.nv-item_price::after {
  content: "kn";
  margin-left: .3em;
}

.nv-pin {
  position: absolute;
  font-variant: small-caps;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
}

.nv-pin_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #FFF;
  line-height: 1;
  position: relative;
}

.nv-pin_tooltip {
  position: absolute;
  bottom: calc(-100% - 16px);
  left: 50%;
  background-color: #FFF;
  padding: 8px 16px;
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity .12s;
  transition: opacity .12s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
  pointer-events: none;
}

.nv-pin_tooltip::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: inherit;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.nv-pin_container:hover .nv-pin_tooltip {
  opacity: 1;
}

.nv-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.87);
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity .21s;
  transition: opacity .21s;
  z-index: 1;
}

.active .nv-scrim {
  opacity: .3;
}

